@import "tailwindcss";
@plugin "daisyui";

body {
  @apply bg-base-100 text-base-content;
}
h1 {
  font-size: 2rem;
  color: #59766c;
}
@plugin "daisyui/theme" {
  name: "mytheme";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  --color-base-100: #ffffff;
  --color-base-200: #f1efe4;
  /* --color-base-300: oklch(92% 0.04 240);
  --color-base-content: oklch(20% 0.05 240); */
  --color-primary: #ff8080;
  /* --color-primary-content: oklch(98% 0.01 240); */
  --color-secondary: #59766c;
  /* --color-secondary-content: oklch(98% 0.01 200);
  --color-accent: oklch(65% 0.25 160);
  --color-accent-content: oklch(98% 0.01 160);
  --color-neutral: oklch(50% 0.05 240);
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(65% 0.3 30);
  --color-error-content: oklch(98% 0.01 30); */

  /* border radius */
  --radius-selector: 3rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
}

.my-btn:hover {
  background-color: #d66666;
}
